$green: rgb(32, 194, 14);
$primary: $green;
$black: #000;
$secondary: $green;
$light: $green;
$dark: $green;
$white: #fff;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
$font-family-base: $font-family-monospace;
$text-muted: $green;
$body-bg: $black;
$body-color: $green;
